body::before {
  display: block;
  content: "";
  height: 60px;
}

a {
  text-decoration: none;
  color: #000000;
}

.pic {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

span.zlorp {
  unicode-bidi: bidi-override;
  direction: rtl;
}
span.zlorp.words:before {
  content: "moc.liamg";
}
span.zlorp.words:after {
  content: "@ahCtnAciM";
}
span.zlorp.sounds:before {
  content: "9971.9285";
}
span.zlorp.sounds:after {
  content: ".273+";
}

/* @media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
} */
